<div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">
                <h2 class="text-center mb-4">Registro</h2>
                <div class="auto-form-wrapper">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" autocomplete="off" maxlength="50" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                    <i class="fa fa-check-circle text-success" *ngIf="form.get('nombre').valid"></i>
                    <i class="fa fa-exclamation-circle text-danger" *ngIf="form.get('nombre').invalid && (form.get('nombre').dirty || form.get('nombre').touched ) "></i>
                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Correo" formControlName="correo" autocomplete="off" maxlength="50" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                      <i class="fa fa-check-circle text-success" *ngIf="form.get('correo').valid"></i>
                      <i class="fa fa-exclamation-circle text-danger" *ngIf="form.get('correo').invalid && (form.get('correo').dirty || form.get('correo').touched ) "></i>
                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" autocomplete="off" maxlength="20" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                    <i class="fa fa-check-circle text-success" *ngIf="form.get('password').valid"></i>
                    <i class="fa fa-exclamation-circle text-danger" *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched ) "></i>
                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" *ngIf="!cargando" [disabled]="form.invalid" class="btn btn-primary submit-btn btn-block">
                Crear cuenta
              </button>
                            <button disabled="true" *ngIf="cargando" class="btn btn-primary submit-btn btn-block"><i class="fa fa-spin fa-sync mr-2"></i>Por favor, espere...</button>
                        </div>
                        <div class="text-block text-center my-3">
                            <span class="text-small font-weight-semibold">¿Ya tienes una cuenta?</span>
                            <br />
                            <a routerLink="/login" class="text-black text-small">Ingresa</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
<app-footer></app-footer>