/* You can add global styles to this file, and also import other style files */

.form-control {
    height: 100% !important;
}

.form-control:focus {
    box-shadow: none !important
}

.auth-page {
    min-height: calc(100vh - 60px) !important;
}

.swal2-actions {
    margin: 1.25em auto !important;
}

.cursor {
    cursor: pointer;
}